<!DOCTYPE html>
<html>

<head>
    <title>Who is Flask</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Poppins:wght@500&family=Roboto:ital,wght@0,300;0,400;1,100;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/site.css">
</head>

<body>
    <div class="container">
        <div class="row h-100">
            <div class="col-sm-12 my-auto text-center">
                <h1>Who is - Flask</h1>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <form action="/search" method="POST">
                            <div class="form-group">
                                <label for="url">Web url</label>
                                <input type="text" class="form-control" id="url"
                                    name="url">
                                <small id="emailHelp" class="form-text text-muted">Web address should be as follows: webscraping.com</small>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>